node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.production
docker-compose.yml
Dockerfile
.dockerignore
mysql-data
.DS_Store
*.log
.vscode
.idea
AdminPanel
vercel.json
.vercel